.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  padding: 5px;
  box-sizing: border-box;
}
p {
  display: inline-block;
}
