

<div class="education">
    <img src="../../../assets/images/edu.png" alt="" width="50px" class="rounded-circle" id="img1">
    <span style="color: rgb(217, 14, 14);">Education Details</span>
    <ul>
        <li>B.TECH.(HONS.),COMPUTER SCIENCE AND ENGINEERING
            (2018-2022) <p>Saintgits college of engineering, Kottayam
                Kerala. APJ Abdul Kalam Technological University(KTU)
                CGPA: 9.7</p>
        </li>
        <li>12TH GRADE(2017-2018)<p>St. Judes HSS Vellarikundu ,Kasaragod, Kerala. Under State board Percentage: 96%</p>
        </li>
        <li>10TH GRADE(2015-2016)<p>St. Savio English Medium School, Kasaragod, Kerala. Central Board Of Secondary
                Education (CBSE) CGPA: 10</p>
        </li>
    </ul>
</div>
<div class="education">
    <img src="../../../assets/images/achive.png" alt="" width="30px" class="rounded-circle" id="img1">
    <span style="color: rgb(217, 14, 14);">Achievements</span>
    <ul>
        <li>Top 5 in Web-A-Thon , Hackathon conducted by Ganga Institute of
            Technology and Management
        </li>
    </ul>
</div>
<div class="education">
    <img src="../../../assets/images/certi.jpg" alt="" width="50px" class="rounded-circle" id="img1">
    <span style="color: rgb(217, 14, 14);">Certifications</span>
    <ul>
        <li>NPTEL ONLINE CERTIFICATION<p>Programming, Data structures and algorithms using Python</p>
        </li>
        <li>EDX ONLINE CERTIFICATION<p>Data Science: Visualization</p>
        </li>
        <li>COURSERA ONLINE CERTIFICATION<p>Web development,
                R programming</p>
        </li>
        <li>UDEMY ONLINE CERTIFICATION<p>Artificial Intelligence, Machine Learning</p>
        </li>
        <li>GREAT LEARNING ONLINE CERTIFICATION<p>Computer vision essentials</p>
        </li>
    </ul>
</div>
<div class="education">
    <img src="../../../assets/images/project.png" alt="" width="40px" class="rounded-circle" id="img1">
    <span style="color: rgb(217, 14, 14);">Projects</span>
    <ul>
        <li>Farmer Asset Management system
        </li>
        <li>Railway Reservation System
        </li>
        <li>Integrated Diet and Fitness App
        </li>
    </ul>
</div>
<div class="education">
    <img src="../../../assets/images/intern.png" alt="" width="40px" id="img1">
    <span style="color: rgb(217, 14, 14);">Interships</span>
    <ul>
        <li>Smart Bridge - Artificial Intelligence (Intelligent Customer Help
            Desk with Smart Document Understanding)
        </li>
        <li>Enfono Technologies - Machine Learning.
        </li>
        <li>Saroma Foundation -GFS
        </li>
    </ul>
</div>
<div class="education">
    <img src="../../../assets/images/project.png" alt="" width="40px" class="rounded-circle" id="img1">
    <span style="color: rgb(217, 14, 14);">Responsibilies</span>
    <ul>
        <li>Member of AI club of Saintgits College of Engineering
        </li>
        <li>Member of Code@Saintgits, Coding Club of Saintgits College of
            Engineering
        </li>
    </ul>
</div>
<div class="education">
    <span style="color: rgb(217, 14, 14); padding: 15px;">Reach me at :</span>
    <ul class="contact">
        <li><img src="../../../assets/images/phone.png" alt="" width="30px" class="rounded-circle" id="img1">
            (+91)9061716105
        </li>
        <li><img src="../../../assets/images/mail.png" alt="" width="40px" id="img1">
            jesteenajose23@gmail.com
        </li>
        <li><img src="../../../assets/images/link.png" alt="" width="40px" class="rounded-circle" id="img1">
            www.linkedin.com/in/ jesteena-jose-
                9326aa207
        </li>
        <li><img src="../../../assets/images/add.png" alt="" width="40px" class="rounded-circle" id="img1">
            Pendanath(H),
                Vallikadavu (PO), Kasaragod(Dist), 671534
        </li>
    </ul>
</div>
