<div class="wrapper">
  <img src="../../../assets/images/Jesteena Jose.jpg" alt="" width="100px" class="rounded-circle mx-auto d-block" id="img1">
  <p class="para1">Jesteena Jose</p>
  <p class="para2">software developer</p>
  <h1>"</h1>
  <p class="para3">Work in the
    organisation to gain industry experience
    and to enhance my knowledge and
    skills to contribute to the success of
    company and to the society.</p>
  <div class="details">
    <p class="para4"><strong>Age:</strong> 22</p>
    <p class="para4"><strong>Status: </strong>Single</p>
    <p class="para4"><strong>Locaton: </strong>Kerala</p>
  </div>
  <div style="margin:15px;margin-bottom: 15px;">
    <p style="color:rgb(162, 107, 30);font-size:15px;">Software Skills</p>
    <span class="badge badge-success"> C </span>
    <span class="badge badge-success">Python</span>
    <span class="badge badge-success">Java</span>
    <span class="badge badge-success"> CSS </span>
    <span class="badge badge-success">Javasript</span>
    <span class="badge badge-success">SQL</span>
  </div>
  <div style="margin:10px;margin-bottom: 15px;">
    <p style="color:rgb(162, 107, 30);font-size:15px;">Other Skills</p>
    <span class="badge badge-success"> Team work</span>
    <span class="badge badge-success">Leadership</span>
    <span class="badge badge-success">Problem solving</span>
    <span class="badge badge-success">Project management</span>
    <span class="badge badge-success">Well disciplined</span>
  </div>
  <div style="margin:10px;margin-bottom: 15px;">
    <p style="color:rgb(162, 107, 30);font-size:15px;">Linguistic Skills</p>
    <span class="badge badge-success">English</span>
    <span class="badge badge-success">Malayalam</span>
  </div>
</div>